.list-card{
    margin-bottom:5px;
    padding:5px;
}
.list-card:hover {
    background: #c9c9c9;
}
a {
    color: #595959;
}

a:hover {
    color: #595959;
    text-decoration: none;
    background-color: #b3b3b3;
}

a h1:hover {
    color: #999999;
}

.fa-edit:hover {
    background-color: #e58900;
}

.fa-remove:hover {
    background-color: #cc2e30;
}

.btn-default:hover{
    background-color: #90cc89;
}