{% extends 'SoshikiApp/base.html' %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Soshiki</h1>
            <h2 class="masthead-subheading mb-0">A kanban app</h2>
            <a href="#learn_more" class="btn btn-primary btn-xl rounded-pill mt-5" id="lm">Learn More</a>
        </div>
    </div>
</header>

<section id="learn_more">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'SoshikiApp/img/01.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Increase your organisation</h2>
                    <p>Soshiki means construction, organisation or system in japanese and it's a way of working in a
                        project or even to organize your way of living.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'SoshikiApp/img/02.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Manage your life</h2>
                    <p>This website can ease your organisation with lists that correspond to the steps of your project
                    and the cards are equals to the tasks of these steps. With deadlines, notes and files your tasks
                    could be very custom to the way you want. This way, you will never forget what to do and you will
                    be the pro of organisation.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
