{% extends 'SoshikiApp/base.html' %}

{% block title %}List{% endblock %}

{% block content %}

<div class="container allPages">
    <h1 class="display-4">Your lists</h1>
  <div class="row">
      {% for list in list_list %}
        <div class="card col-md-4">
            <h5 class="card-header">{{ list.name }}</h5>
            <div class="card-body">
                <div class="card">
                    à récuperer
                </div>
                <div class="card">
                    à récuperer
                </div>
                <div class="card">
                    à récuperer
                </div>
                <div class="card">
                    à récuperer
                </div>
            </div>
        </div>
      {% endfor %}

    </div>
</div>


{% endblock %}
