{% extends 'SoshikiApp/base.html' %}

{% block title %}Add a list{% endblock %}

{% block content %}
<div class="container allPages">
    <h1>Create/Update a list</h1>
    <div style="width:100%">
        <form action="" method="post">
            {%csrf_token%}
            {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
            {% endfor %}
            {% for field in form %}
            <div class="form-group has-errors text-danger small">
                {{field.errors}}
            </div>
            <div class="form-group has-errors text-danger small">
            </div>
            <div class="form-group">
                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %}
            <button class="btn btn-primary" style="width:100%">Save</button>
        </form>
    </div>
</div>
{% endblock %}