{% extends 'SoshikiApp/base.html' %}

{% block title %}Table details{% endblock %}

{% block content %}
<div class="container allPages">

    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'table-update' table.pk %}"><h1 class="display-4">{{ table.name}}</h1></a>
        </div>
    </div>

    <p class="lead text-muted">Manage your project {{ table.name}}.</p>
    <a href="{% url 'list-create' table.pk%}" class="btn btn-default" style="width:100%">Add a list</a>
    <hr/>
    <div class="card-columns">
      {% for list in table.list_set.all|dictsort:"position" %}
        <div id="{{ list.id }}" class="card">
            <h5 class="card-header">
                {{ list.name }}
                <a href="{% url 'list-update' table.pk list.pk%}" class="btn fa fa-edit" ></a>
                <a href="{% url 'list-delete' table.pk list.pk%}" class="btn fa fa-remove" style="margin-left: -5%"></a>
            </h5>
            <div class="card-body">
                {% for card in list.card_set.all|dictsort:"position" %}
                <div id="{{ card.id }}" class="card list-card">
                    <a href="{% url 'card-detail' table.pk list.pk card.id %}">{{card.title}}</a>
                </div>
                {% endfor %}
                <a href="{% url 'card-create' table.pk list.pk%}" style="color: black; text-decoration: none;">
                    <div class="card add_task" style="background: #e4eded">
                        <p>Add a task...</p>
                    </div>
                </a>
            </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
