{% extends 'SoshikiApp/base.html' %}

{% block title %}Add a table{% endblock %}

{% block content %}
<div class="container allPages">
    <div class="row">
        <div class="col-md-6">
            <h1>Create/Update a table</h1>
        </div>
        {% if form.instance.id %}
            <div class="col-md-4" style="padding-top: 10px">
                <a href="{% url 'table-delete' table.pk %}" class="btn btn-danger btn-sm">Delete the table</a>
            </div>
        {% endif %}
    </div>

    <div style="width:100%">
        <form action="" method="post">
            {%csrf_token%}
            {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
            {% endfor %}
            {% for field in form %}
            <div class="form-group has-errors text-danger small">
                {{field.errors}}
            </div>
            <div class="form-group has-errors text-danger small">
            </div>
            <div class="form-group">
                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %}
            <button class="btn btn-primary" style="width:100%">Save</button>
        </form>
    </div>
</div>
{% endblock %}
