{% extends 'SoshikiApp/base.html' %}

{% block title %}Tables{% endblock %}

{% block content %}

<div class="container allPages">
  <div class="row">
    <div class="col-md-8">

      <h1 class="display-4">Soshiki's Tables</h1>
      <p class="lead text-muted">A list of Tables.</p>

      <a href="{% url 'table-create' %}" class="btn btn-success btn-sm">Add a table</a>

      <hr/>

      {% for table in table_list %}

        {% if table.favorite %}
          <div class="card border-warning mb-3" style="max-width: 32rem;">
            <div class="card-header">{{ table.name }}</div>
            <div class="card-body text-warning">
        {% else %}
          <div class="card border-dark mb-3" style="max-width: 32rem;">
            <div class="card-header">{{ table.name }}</div>
            <div class="card-body text-dark">
        {% endif %}

              <td>
                <a href="{% url 'table-detail' table.pk %}" class="btn btn-primary btn-sm">Details</a>
                <a href="{% url 'table-update' table.pk %}" class="btn btn-success btn-sm">Update</a>
                <a href="{% url 'table-delete' table.pk %}" class="btn btn-warning btn-sm">Delete</a>
              </td>

            </div>
          </div>
      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}
