{% extends 'SoshikiApp/base.html' %}

{% block title %}Table details{% endblock %}

{% block content %}
<div class="container allPages">
    <h1 class="display-4">{{ table.name}}</h1>
  <div class="row">
      {% for list in table.list_set.all %}
        <div class="card col-md-4">
            <h5 class="card-header">{{ list.name }}</h5>
            <div class="card-body">
                {% for card in list.card_set.all %}
                <div class="card">
                    {{card.title}}
                </div>
                {% endfor %}
            </div>
        </div>
      {% endfor %}

    </div>
</div>
{% endblock %}
